<div class="container">
  <div class="row">
    <h3>Buttons</h3>
    <div class='col-12'>
      <button type="button" class="btn btn-primary mr-2">Primary</button>
      <button type="button" class="btn btn-secondary mr-2">Secondary</button>
      <button type="button" class="btn btn-success mr-2">Success</button>
      <button type="button" class="btn btn-danger mr-2">Danger</button>
      <button type="button" class="btn btn-warning mr-2">Warning</button>
    </div>
  </div>
  <select formControlName="numberOfTickets" class="form-control" (change)="onChange($event)" [ngClass]="{ 'is-invalid': submitted && f.numberOfTickets.errors }">
    <option value=""></option>
    <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
</select>
<span [ngSwitch]='number'>
<span *ngSwitchCase='1'>One</span>
</span>
</div>